.cervezas {
	background: #FFF;
	position: relative;

	.cervezas-desc {
		width: 37%;
		padding: 80px 60px;
		display: inline-block;
		background: #d8d8d8;
		vertical-align: top;

		h2 {
			font-family: $titulos;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 59px;
			position: relative;
			margin-bottom: 60px;
		}

		h2::after {
			content: 'Cervezas';
			font-family: 'Pacifico';
			color: $color-principal;
			font-size: 45px;
			font-weight: normal;
			letter-spacing: 2px;
			position: absolute;
			text-transform: capitalize;
			left: 110px;
			top: 38px;
		}

		p {
			font-family: $texto;
			font-size: 19px;
			line-height: 30px;
		}
	}

	.cervezas-slider {
		padding-left: 50px;
		width: 63%;
		display: inline-block;
		padding-top: 30px;

		.slick-prev,
		.slick-next {
			border: none;
			vertical-align: top;
			margin: 150px 0 0 0;
			color: transparent;
			background: transparent;
			font-family: $texto;
			font-weight: normal;

			&:focus {
				outline: none;
			}
		}

		.slick-prev:before {
			content: "";
			display: inline-block;
			width: 80px;
			height: 80px;
			background: url(../images/back.png)
		}

		.slick-next:after {
			content: "";
			display: inline-block;
			width: 80px;
			height: 80px;
			background: url(../images/next.png)
		}

		.slick-list {
		    width: 60%;
			margin: auto;
			display: inline-block;
		}

		article.slick-slide {
			&:focus {
				outline: none;
			}

			img {
				display: inline-block;
			}

			.texto {
				display: inline-block;
				width: 70%;
				vertical-align: top;
				margin-top: 100px;
				margin-left: 50px;

				h3 {
					font-family: $titulos;
					font-size: 30px;
					margin-bottom: 20px;
				}

				p {
					font-family: $texto;
					font-size: 18px;
					line-height: 25px;
				}

				ul {
					display: flex;
					justify-content: space-between;
					margin-top: 10px;
					font-family: $texto;
					font-size: 18px;
				}
			}
		}

		.slick-dots {
			text-align: center;

			li {
				display: inline-block;
				margin: 0 5px;

				button {
					border: none;
					font-size: 0;
					background: transparent;

					&:before {
						content: "";
						display: inline-block;
						width: 10px;
						height: 10px;
						background: #D1D1D1;
						border-radius: 50%;
					}

					&:focus {
						outline: none;
					}
				}
			}

			.slick-active {

				button:before {
					background: $color-principal;
				}
			}
		}
	}
}
