.nosotros {
	background: #0F0F0F;

	.nosotros-desc {
		width: 37%;
		padding: 70px 50px;
		color: #FFFFFF;
		display: inline-block;

		h2 {
			font-family: $titulos;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 59px;
			position: relative;
			margin-bottom: 60px;
		}

		h2::after {
			content: "Nosotros";
			font-family: 'Pacifico';
			color: $color-principal;
			text-transform: capitalize;
			font-size: 42px;
			font-weight: normal;
			letter-spacing: 2px;
			position: absolute;
			left: 50px;
			top: 41px;
		}

		p {
			font-family: $texto;
			font-size: 19px;
			line-height: 30px;
			margin-bottom: 40px;
		}

		a {
			text-decoration: none;
			display: inline-block;
			background: $color-principal;
			letter-spacing: 1px;
			color: #0F0F0F;
			text-transform: uppercase;
			font-family: $texto;
			font-weight: bold;
			font-size: 17px;
			padding: 20px 40px;
		}
	}

	.nosotros-destacado {
		width: 63%;
		display: inline-block;
		vertical-align: top;
		background: url(../images/nosotros.jpg) no-repeat center center;
		background-size: cover;

		ul {
			display: flex;
			flex-wrap: wrap;
			li {
				display: inline-block;
				width: 50%;
				padding: 70px 50px;
				text-align: center;

				.fa {
					color: #FFFFFF;
					font-size: 30px;
				}

				h3 {
					color: $color-principal;
					font-family: $texto;
					font-weight: bold;
					text-transform: uppercase;
					font-size: 15px;
					letter-spacing: 1px;
					margin-top: 20px;
				}

				p {
					font-family: $texto;
					color: #FFFFFF;
					font-size: 16px;
					margin-top: 20px;
					line-height: 20px;
				}
			}

			li.br {
				border-right: 1px solid #1C1912;
				border-bottom: 1px solid #1C1912;
			}

			li.bl {
				border-left: 1px solid #1C1912;
				border-top: 1px solid #1C1912;
			}
		}
	}
}